@use "variable";

#wrapper {
    overflow: hidden;
    height: 100vh;
}

.panel {
    height: 100vh;
    display: flex;

    .BG {
        position: fixed;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .back-top {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2;
        visibility: hidden;
        animation: fuwafuwa 5s ease 0s infinite;
        text-align: end;
        padding-right: 1%;

        @keyframes fuwafuwa {
            0% {
                transform: translate(0, 0);
            }

            50% {
                transform: translate(0, -15%);
            }

            100% {
                transform: translate(0, 0);
            }
        }

        img {
            width: 70%;

            &:hover {
                transform: scale(-1, 1);
                transition: 0.5s cubic-bezier(0.27, 0.89, 0.32, 1.27);
                ;
            }
        }

    }

    .content {
        height: 100vh;
    }
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 600;
    }
}

.content2 {

    .row {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .L-content {
            display: flex;

            .content-L-BG {
                position: absolute;
                z-index: -1;
                width: 100vw;
                height: 100vh;
                top: 0;
                display: flex;
                align-items: center;

                img {
                    height: 70%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .L-content-text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                mix-blend-mode: color-burn;

                h2 {
                    font-weight: 600;
                }

                ul {
                    padding: 0;

                    .oubun {
                        font-weight: 600;
                    }

                    .wabun {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .R-content {
            height: 100%;
            display: flex;
            align-items: center;

            a {
                width: 60%;
                height: 60%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
}

.content3 {
    background-color: #499;
    opacity: 0.3;
}